/* common css start  */
* {
  padding: 0px;
  margin: 0px;
}

/* common css end  */


body{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 121%;
}

.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #E0EBE8;
  
}




h1{
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
  margin: 50px auto 0 auto;   
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem ;
  color:#66BFBF;
  /* font-weight: normal; */
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E ;
}

a{
  color: #11999E ;
  text-decoration: none;
}


.top-cloud{
 position: absolute;
 right: 300px;
 top: 30px;

}


.bottom-colud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container{
  margin-top: 100px;
}

.profile img{
  height: 200px;
  width: 200px;
  margin-bottom: 60px;
}

.profile p{
  width: 34%;
  margin: 60px auto 60px auto;
  color: #40514E;
}

hr{
  border-style: dotted;
  border-bottom: none;
  border-width: 10px;
  width: 4%;
  margin: 60px auto 60px;
  color: #EAF6F6;
  

}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}


.skill-image2{
  width: 25%;
  float: right;
  margin-left: 30px; 
}

.contact-me h2{
  margin-bottom: 60px;
}

.contact-me h3{
  margin-bottom: 60px;
}

.contact-me p{
  width:45%;
  margin: 0 auto 50px;
}

.btn {
  background: #0FB3B9;
  background-image: -webkit-linear-gradient(top, #0FB3B9, #0FB3B9);
  background-image: -moz-linear-gradient(top, #0FB3B9, #0FB3B9);
  background-image: -ms-linear-gradient(top, #0FB3B9, #0FB3B9);
  background-image: -o-linear-gradient(top, #0FB3B9, #0FB3B9);
  background-image: linear-gradient(to bottom, #0FB3B9, #0FB3B9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.bottom-container{
  background-color: #66bfbf;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-container a{
  margin: 0 20px 0 20px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;   
}

.bottom-container p{
  color: #EAF6F6;
  margin-top: 20px;

}